@media screen and (max-width: 480px) {
     .img-sobre img {
        width: 200px;
    }

    /* Projetos */
    .texto-projetos h2, p {
        color: red;
}

    .texto-projetos h2 {
        margin-top: 70px;
        font-size: 2rem;
        text-align: center;
}
    .texto-projetos p {
        font-size: 1.2rem;
        margin-bottom: 50px;
        text-align: center;
}

}




@media screen and (max-width: 768px) { /*Quando chegar na largura ele modifica*/
    .textoimagem-sobre {
        display: flex;
        flex-direction: column-reverse;
        justify-content: center;
        align-items: center;
        gap: 1rem;

    }

    .img-sobre img {
        width: 200px;
    }

    .texto-sobre p {
    color: white;
    text-align: justify;
    text-indent: 50px;
    font-size: 1.2rem;
    line-height: 30px;
}

    /* Projetos */
    .texto-projetos h2, p {
        color: #fff;
}

    .texto-projetos h2 {
        margin-top: 200px;
        font-size: 3rem;
        text-align: center;
}

    /* Footer */
    .rodape {
        display: flex;
        flex-direction: column;
        justify-content: space-around;
        align-items: center;
        gap: 3rem;
    }

    .rodape h4 {
        font-size: 1.2rem;
        text-align: center;
        color: greenyellow;
        margin-bottom: 5px;
}

    .contatos-footer p {
       color: greenyellow;
       font-size: 1rem;
}
    

}